
@{
    ViewData["Title"] = "update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Team
<div class="container">

    <form method="post" style="margin:200px" class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Name</label>
            <input asp-for=Name type="text" class="form-control" id="validationCustom01" required>

        </div>
        <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Description</label>
            <input asp-for=Description type="text" class="form-control" id="validationCustom02" required>

        </div>

        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">Image</label>
            <input asp-for="ImgUrl" type="text" class="form-control" id="validationCustom03" required>

        </div>
        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">Status</label>
            <input asp-for="Status" type="text" class="form-control" id="validationCustom03" required>

        </div>



        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>

    </form>


</div>

