@model Blog

<div class="container">

    <form method="post" style="margin:200px" class="row g-3 needs-validation" novalidate>


        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">DevImage</label>
            <input asp-for="ImgUrl" type="text" class="form-control" id="validationCustom03" required>

        </div>
        <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Description</label>
            <input asp-for=Description type="text" class="form-control" id="validationCustom05" required>

        </div>
        <div class="col-md-3">
            <label for="validationCustom05" class="form-label">By</label>
            <input asp-for=By type="text" class="form-control" id="validationCustom05" required>

        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>

    </form>


</div>