
@{
    ViewData["Title"] = "Index";
    
}
<div style="margin:100px" class="container">




    <a type="button" class="btn btn-secondary btn-lg" asp-controller="Shop" asp-action="create"> Add Product </a>
    <a type="button" class="btn btn-secondary btn-lg" asp-controller="Blog" asp-action="creat"> Add Blog </a>
    <a type="button" class="btn btn-secondary btn-lg" asp-controller="About" asp-action="Create"> Add Team </a>
    <a type="button" class="btn btn-secondary btn-lg" asp-controller="TestMonial" asp-action="create"> Add Testimonial </a>
   


</div>
<div style="margin:100px" class="container">




    <a type="button" class="btn btn-success btn-lg" asp-controller="Shop" asp-action="edit"> Delete/Update Product </a>
    <a type="button" class="btn btn-success btn-lg" asp-controller="Blog" asp-action="edit">Delete/Update Blog </a>
    <a type="button" class="btn btn-success btn-lg" asp-controller="About" asp-action="edit"> Delete/Update Team </a>

    <a type="button" class="btn btn-success btn-lg" asp-controller="TestMonial" asp-action="edit"> Delete/Update Testmonial </a>


</div>
 